extend layout.pug
block content
    div(class="content-login")
        div(class="wrapper-login")
            <form class="form-login " action="/register" method="post"> 
                <label>Pedido efetuado com sucesso!</label>
                img(src='images/check.png' alt='login' class="check")
                <label>Para mais informações, verifique seu email.</label>

