extend layout.pug
block content
    div.content
        div.content-title 
            h1 Últimos Anúncios
            a(href="/logout") Sair 
        div.cards
        each product in products
            a(href=`/product?id=${product.id}`).card
                img(src=product.image, alt="produto", class="img-product")
                strong.price R$ #{product.price}
                span.product-name #{product.product}
                button.button Ver Produto