extend layout.pug
block content
    div.content
        div.content-title 
            h1 Últimos Anúncios
            a(href="/logout") Sair 
        div.cards
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
            div.card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                a(href="/product").button Ver Produto
