extend layout.pug
block content
    div.content
        div.content-title 
            h1 Últimos Anúncios
            a(href="/logout") Sair 
        div.cards
            a(href="/product").card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                button.button Ver Produto
            a(href="/product").card
                img(src="images/infoproduto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                button.button Ver Produto
            a(href="/product").card
                img(src="images/produto.png", alt="produto", class="img-product")
                strong.price R$ 10,00
                span.product-name Nome do produto 
                button.button Ver Produto       