extend layout.pug
block content  
    h1 Conteúdo
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro delectus quos, maiores voluptatum totam molestiae, aliquam cumque dolores similique illum error pariatur perspiciatis exercitationem consequatur id minus amet dolorum?
    //- #container.col
    //- if youAreUsingPug
    //-     p You are amazing Sergião
    //- else
    //-     p Get on it!
    //- p.
    //-     Pug is a terse and simple templating language with a
    //-     strong focus on performance and powerful features.