extend layout.pug
block content 
    div.inicial
        div
            img(src='images/logo.png' alt='login' class="logo") 
            h1 Seu site de compra e venda!
        div.in-buttons
            a.button(href="/login") Entrar 
            a(href="/register") Registre-se
