extend layout.pug
block content  
    <div class="content-login">
    <div class="wrapper-login">
        if message
            p #{message}
        <form class="form-login" action="/newad" method="post"> 
            <label>Novo Anuncio</label>
            <label>Produto</label>
            <input placeholder="Digite o nome do produto" name="product" id="product" required>
            <label>Preço</label>
            <input placeholder="Digite o preço do produto" name="price" id="price" required>
            <label>Descrição</label>
            <input placeholder="Digite a descrição do produto" name="description" id="description" required>
            <label>Imagem</label>
            <input placeholder="URL da imagem" name="image" id="image" required/> 
            <button class="button">Salvar</button>
            <div class="wrapper-login-links">
                <a href="/dashboard">Voltar</a>