extend layout.pug
block content  
    <div class="content-login">
    <div class="wrapper-login">
        <form class="form-login" action="/register" method="post"> 
            <label>Novo Anuncio</label>
            <label>Produto</label>
            <input placeholder="Digite o nome do produto" name="product" id="product" required>
            <label>Preço</label>
            <input placeholder="Digite o preço do produto" name="price" id="price" required>
            <label>Descrição</label>
            <input placeholder="Digite a descrição do produto" name="description" id="description" required>
            <label>Imagem</label>
            <input type="file" placeholder="oi"  accept="image/png, image/jpeg"  multiple /> 
            <label>Quantidade disponível</label>
            <input type="">
            <button class="button">Salvar</button>
            <div class="wrapper-login-links">
                <a href="/dashboard">Voltar</a>