extend layout.pug
block content  
    div.content
        div.content-title 
            h1 #{product.product}
            a(href="/logout") Sair 
        div.product
            img(src=product.image, alt="produto", class="product-image")
            div.product-info
                strong.price R$ #{product.price}
                p.description #{product.description}
                div.buttons-like
                    button.like 
                        img(src="images/like.png", alt="produto", class="like-image")
                    button.dislike 
                        img(src="images/dislike.png", alt="produto", class="dislike-image")
                div.comments 
                    strong.title-comments Comentários
                    div.comment
                        strong.user-comments Usuario
                        p.comment Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    div.comment
                        strong.user-comments Usuario
                        p.comment Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        div.buy-button 
            a(href="/dashboard").button Continuar Comprando 
            a(href="/cart").button#add-cart Adicionar ao Carrinho